.contact-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, gray 800);
    padding: 4px;
    color: rgb(61, 55, 55);
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  
  .section-header {
    font-size: 4xl;
    font-weight: bold;
    display: inline;
    border-bottom: 4px solid gray;
  }
  
  .section-description {
    padding-top: 24px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
  }
  
  .input-field {
    padding: 8px;
    background: transparent;
    border: 2px solid rgb(135, 129, 129);
    border-radius: 4px;
    color: white;
    outline: none;
    margin-bottom: 16px;
  }
  
  .textarea-field {
    padding: 8px;
    background: transparent;
    border: 2px solid rgb(86, 77, 77);
    border-radius: 4px;
    color: white;
    outline: none;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .submit-button {
    color: white;
    background-image: linear-gradient(to bottom, cyan, blue);
    padding: 12px 24px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
  
  .submit-button:hover {
    transform: scale(1.1);
  }
  